@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");
body {
  margin: 0px;
  background-color: #0892d0;
}

.button {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #383838;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button:hover {
  background-color: #1a1a1a;
  color: gold;
}

.button:disabled {
  background-color: #c2c2c2;
}

.button:disabled:hover {
  color: white;
}

.study-toggle {
  border-radius: 10px;
}

.button-start-label {
  white-space: pre-wrap;
}

.button-stop {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.pomodoro {
  width: 100%;
  height: 100vh;
}

.pomodoro .timer {
  background-color: grey;
  border: 1px solid white;
}

.pomodoro .timer .timer-display {
  background-color: black;
  color: green;
}

.pomodoro .timer .timer-display h1 {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
}

.pomodoro .modal {
  z-index: 42;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: teal;
  color: white;
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  .button {
    padding: 10px 20px 10px 20px;
  }
  .pomodoro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .timer {
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    min-width: 270px;
  }
  .timer .timer-display {
    margin: 10px;
    text-align: center;
    border-radius: 15px;
  }
  .timer .timer-display h1 {
    font-weight: 600;
    font-size: 42px;
  }
  .command-buttons {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .command-buttons .button-toggle {
    border-radius: 10px 0 0 10px;
  }
  .command-buttons .button-reset {
    border-radius: 0 10px 10px 0;
  }
  .time-buttons {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .time-buttons .time-buttons-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .time-buttons .time-buttons-down .min-down {
    border-radius: 10px 10px 0 0;
  }
  .time-buttons .time-buttons-down .sec-down {
    border-top: 1px solid gray;
    border-radius: 0 0 10px 10px;
  }
  .time-buttons .time-buttons-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .time-buttons .time-buttons-up .min-up {
    border-radius: 10px 10px 0 0;
  }
  .time-buttons .time-buttons-up .sec-up {
    border-top: 1px solid gray;
    border-radius: 0 0 10px 10px;
  }
  .set-timer-type {
    text-align: center;
    padding: 10px;
  }
  .set-timer-type .study-timer {
    border-radius: 10px 0 0 10px;
  }
  .set-timer-type .break-timer {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid grey;
  }
  .modal-buttons {
    margin-bottom: 15px;
  }
  .modal-buttons .button-reset {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid teal;
  }
  .modal-buttons .button-close-modal {
    border-radius: 0 10px 10px 0;
  }
}

@media only screen and (min-width: 421px) and (max-width: 800px) {
  .button {
    padding: 15px 30px 15px 30px;
    font-weight: 600;
    font-size: 20px;
  }
  .pomodoro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .timer {
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    min-width: 450px;
    max-width: 600px;
  }
  .timer .timer-display {
    margin: 10px;
    text-align: center;
    border-radius: 15px;
  }
  .timer .timer-display h1 {
    font-weight: 600;
    font-size: 80px;
  }
  .buttons-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buttons-section .command-buttons {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .buttons-section .command-buttons .button-toggle {
    border-radius: 10px 0 0 10px;
  }
  .buttons-section .command-buttons .button-reset {
    border-radius: 0 10px 10px 0;
  }
  .buttons-section .time-buttons {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .buttons-section .time-buttons .time-buttons-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .buttons-section .time-buttons .time-buttons-down .min-down {
    border-radius: 10px 0 0 10px;
    height: 100%;
  }
  .buttons-section .time-buttons .time-buttons-down .sec-down {
    height: 100%;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }
  .buttons-section .time-buttons .time-buttons-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .buttons-section .time-buttons .time-buttons-up .min-up {
    border-radius: 0 10px 10px 0;
    height: 100%;
  }
  .buttons-section .time-buttons .time-buttons-up .sec-up {
    height: 100%;
    border-right: 1px solid gray;
  }
  .set-timer-type {
    padding: 10px;
    text-align: center;
  }
  .set-timer-type .study-timer {
    border-radius: 10px 0 0 10px;
  }
  .set-timer-type .break-timer {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid grey;
  }
  .modal-buttons {
    margin-bottom: 15px;
  }
  .modal-buttons .button-reset {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid teal;
  }
  .modal-buttons .button-close-modal {
    border-radius: 0 10px 10px 0;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .timer {
    width: 700px;
  }
  .buttons-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .set-timer-type {
    padding: 20px;
    text-align: center;
  }
  .set-timer-type .study-timer {
    border-radius: 10px 0 0 10px;
  }
  .set-timer-type .break-timer {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid grey;
  }
}

@media only screen and (min-width: 1001px) {
  .timer {
    width: 962px;
  }
  .buttons-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .set-timer-type {
    padding: 20px;
  }
  .set-timer-type .study-timer {
    border-radius: 10px 0 0 10px;
  }
  .set-timer-type .break-timer {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid grey;
  }
}

@media only screen and (min-width: 801px) {
  .button {
    padding: 15px 30px 15px 30px;
    font-weight: 600;
    font-size: 20px;
  }
  .pomodoro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .timer {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
  }
  .timer .timer-display {
    margin: 10px;
    text-align: center;
    border-radius: 20px;
  }
  .timer .timer-display h1 {
    font-weight: 600;
    font-size: 100px;
  }
  .buttons-section .command-buttons {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .buttons-section .command-buttons .button-toggle {
    border-radius: 10px 0 0 10px;
  }
  .buttons-section .command-buttons .button-reset {
    border-radius: 0 10px 10px 0;
  }
  .buttons-section .time-buttons {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .buttons-section .time-buttons .time-buttons-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .buttons-section .time-buttons .time-buttons-down .min-down {
    border-radius: 10px 0 0 10px;
    height: 100%;
  }
  .buttons-section .time-buttons .time-buttons-down .sec-down {
    height: 100%;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }
  .buttons-section .time-buttons .time-buttons-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .buttons-section .time-buttons .time-buttons-up .min-up {
    border-radius: 0 10px 10px 0;
    height: 100%;
  }
  .buttons-section .time-buttons .time-buttons-up .sec-up {
    height: 100%;
    border-right: 1px solid gray;
  }
  .modal-buttons {
    margin-bottom: 15px;
  }
  .modal-buttons .button-reset {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid teal;
  }
  .modal-buttons .button-close-modal {
    border-radius: 0 10px 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */